@import 'tailwindcss';
@import 'tw-animate-css';
@import './themes.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-base-50: var(--default-50);
  --color-base-100: var(--default-100);
  --color-base-200: var(--default-200);
  --color-base-300: var(--default-300);
  --color-base-400: var(--default-400);
  --color-base-500: var(--default-500);
  --color-base-600: var(--default-600);
  --color-base-700: var(--default-700);
  --color-base-800: var(--default-800);
  --color-base-900: var(--default-900);
  --color-base-950: var(--default-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  --animate-accordion-up: slideUp 150ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-accordion-down: slideDown 150ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    /* opacity: 0.01; */
    height: 0;
  }
  to {
    /* opacity: 1; */
    height: var(--height);
  }
}

@keyframes slideUp {
  from {
    /* opacity: 1; */
    height: var(--height);
  }
  to {
    /* opacity: 0.01; */
    height: 0;
  }
}
